src/main/resources/daily-hive.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:atom="http://www.w3.org/2005/Atom" version="2.0">
  <xsd:element name="rss">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="channel">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="title" type="xsd:string" />
              <xsd:element name="atom:link">
                <xsd:complexType>
                  <xsd:attribute name="href" type="xsd:string" />
                  <xsd:attribute name="rel" type="xsd:string" />
                  <xsd:attribute name="type" type="xsd:string" />
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="link" type="xsd:string" />
              <xsd:element name="description" type="xsd:string" />
              <xsd:element name="lastBuildDate" type="xsd:dateTime" />
              <xsd:element name="language" type="xsd:string" />
              <xsd:element name="generator" type="xsd:string" />
              <xsd:element name="image">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="title" type="xsd:string" />
                    <xsd:element name="url" type="xsd:string" />
                    <xsd:element name="link" type="xsd:string" />
                    <xsd:element name="width" type="xsd:int" />
                    <xsd:element name="height" type="xsd:int" />
                    <xsd:element name="description" type="xsd:string" />
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="unbounded" name="item">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="title" type="xsd:string" />
                    <xsd:element name="dccreator" type="xsd:string" />
                    <xsd:element name="link" type="xsd:string" />
                    <xsd:element name="comments" type="xsd:string" />
                    <xsd:element name="pubDate" type="xsd:dateTime" />
                    <xsd:element maxOccurs="unbounded" name="category" type="xsd:string" />
                    <xsd:element name="guid">
                      <xsd:complexType>
                        <xsd:attribute name="isPermaLink" type="xsd:boolean" />
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="description" type="xsd:string" />
                    <xsd:element name="content:encoded" type="xsd:string" />
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="version" type="xsd:decimal" />
    </xsd:complexType>
  </xsd:element>
</xsd:schema>