src/main/resources/daily-hive.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="rss">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="channel">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="atomlink">
                <xsd:complexType>
                  <xsd:attribute name="href" type="xsd:string" />
                  <xsd:attribute name="rel" type="xsd:string" />
                  <xsd:attribute name="type" type="xsd:string" />
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="title" type="xsd:string" />
              <xsd:element name="link" type="xsd:string" />
              <xsd:element name="description" type="xsd:string" />
              <xsd:element name="language" type="xsd:string" />
              <xsd:element name="copyright" type="xsd:string" />
              <xsd:element name="pubDate" type="xsd:dateTime" />
              <xsd:element name="generator" type="xsd:string" />
              <xsd:element name="docs" type="xsd:string" />
              <xsd:element maxOccurs="unbounded" name="item">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="title" type="xsd:string" />
                    <xsd:element name="link" type="xsd:string" />
                    <xsd:element name="description" type="xsd:string" />
                    <xsd:element name="guid">
                      <xsd:complexType>
                        <xsd:attribute name="isPermaLink" type="xsd:boolean" />
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="pubDate" type="xsd:dateTime" />
                    <xsd:element name="enclosure">
                      <xsd:complexType>
                        <xsd:attribute name="type" type="xsd:string" />
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="version" type="xsd:decimal" />
    </xsd:complexType>
  </xsd:element>
</xsd:schema>