src/main/resources/newsItem.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="nitf">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="head">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="pubdata">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="id"/>
                      <xs:attribute type="xs:string" name="type"/>
                      <xs:attribute type="xs:string" name="name"/>
                      <xs:attribute type="xs:int" name="date.publication"/>
                      <xs:attribute type="xs:string" name="edition.name"/>
                      <xs:attribute type="xs:string" name="position.section"/>
                      <xs:attribute type="xs:string" name="position.sequence"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="title"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="body">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="body.head">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="hedline">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="hl1"/>
                          <xs:element type="xs:string" name="hl2"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="byline"/>
                    <xs:element type="xs:string" name="credit"/>
                    <xs:element name="dateline">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="location"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="body.content"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>